

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #000;
}




#contenidos{
	width: 90%;
	height: auto;
	margin: auto;
	position: relative;
	

}





section{
	width: 90%;
	background: #fff;
	height: 600px;
	float: left;
	margin-top: 4px;
	margin-left: 53px;
	border-style: double;
}




h1{
	font-family: 'Fanwood Text', serif;
	color: black;
	margin-left: 5px;
	font-size: 30px;
	text-align: center; 
}

h2{
	font-family: 'Fanwood Text', serif;
	color: black;
	margin-left: 10px;
	font-size: 30px;
	text-align: center; 
}

h3{
	font-family: 'Franklin Gothic Medium';
	color: black;
	font-size: 11px;
	text-align: center; 
}



nav{
	width: 100%;
	height: 80px;
	background: #0081ad;
	border-style: outset;
	margin: auto;

}


ul.nav {
	list-style: none; 
	border-top: 1px solid #666; /
	margin-bottom: 30px; /
	font-weight: bold;
	color: #FFF;
}



ul, ol, dl {  
	padding: 0;
	margin: 0;
}



nav li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: #009ED4;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 15px black inset; 

}


footer {
	padding: 40px 90px;
	position: relative;
	clear: both; 
}

.footer-izquierda{
	float: left;
	width: 50%;
}

.footer-centro{
	float: left;
	width: 50%;
}

.footer-derecha{
	float: left;
	width: 30%;
}

footer p{
	font-size: 11px;
	color: black;
}

.img-central{
	margin-left: 5%;
}

.centrar{
	text-align: center;
}

footer .footer-izquierda img{
	padding: 50px;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

.footer-superior{
 float: left;
    font-size: 11px;
    line-height: 14px;
    text-align: left;
    width: 36%;
}
}

.footer-inferior{
	  height: 15px;
    left: 49px;
}


.imgcalidad{
	margin: 0 auto;
	width: 1%;
}

figcaption span a{
	color: #000 !important;
}






